        body{
            background-color: black;
            
        }
        .title{
            color: violet;
            text-align: center;
        }
        table {  
            text-align: center;
            background-color: rgb(67, 20, 155);   
            margin-left: auto;
            margin-right: auto;
            margin-top: 50px;
            color: turquoise ;   
        }
        
   
       table img{
            border-image: 0px;
        width: 50px;
        height: 50px;
        margin-bottom: -18px;
       }
        td{
            background-color: rgb(40, 21, 75);
            max-width: 50px;
            min-width: 50px; 
            line-height: 50px;  
            font-size: 20px;
            padding: 0px;
        
        }
        
    .wizard{
        text-align: center;
        color: blueviolet;

    }

    .wizard img{
        width: 100px;
        
    }

   .lives{
       text-align: center;
       color: blueviolet;
       font-size: 30px;
       margin-top: 20px;
       margin-bottom :20px;
   }

    .difficulty{
        text-align: center;
        box-shadow: rgb(136, 42, 18);

    }

    .difficulty button{
    background-color: blueviolet;
    color: white;
    box-shadow: blue;
    border-radius: 15%;
    font-size: 40px;

    }
        
 .timer{ color: black;
         text-align: center;
        }

    .hints{
        text-align: center;
    }    
    .hints img{
        width: 45px;
        border-radius: 20px;
        margin-left: 20px;
        margin-right:20px;
        margin-top: 20px;
        /* box-shadow: 0px 0px 15px #fff; */
        
    }
    .isOn{
        box-shadow: 0px 0px 38px rgb(148, 112, 231);
    }
    .isSpent{
        box-shadow: 0px 0px 20px rgb(246, 246, 246); 
    }